.accord_block {
	border: 1px solid grey;
	width: 500px;
}

label{
	background-color: antiquewhite;
	display: block;
	line-height: 30px;
	padding-left: 10px;
}

p{
	margin: 0;
	max-height: 0;
	overflow: hidden;
	transition: all .3s ease;
}

input{
	display: none;
}

input:checked ~ p{
	padding: 10px;
	max-height: 100%;
}